*.so
chapter*/cpp/*
!chapter*/cpp/build.sh
!chapter*/cpp/*.cc
!chapter5/cpp/timer.h
!chapter4/cpp/CMakeLists.txt
!chapter8/cpp/CMakeLists.txt
!chapter8/cpp/helpers.h
chapter*/go/*.h
chapter*/go/*.o
chapter*/go/*.c
chapter*/build/
*.db
*.arrow
.ipynb_checkpoints
.vscode
.venv